 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1280px;
	 height: 3000px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1280px;
	 height: 3000px;
	 z-index:1;
} 

 #logo 
{ 
	 left: 34px; 
	 top: 72px; 
	 position: absolute; 
	 width: 310px;
	 height: 99px;
	 z-index:2;
} 

 #VectorSmartObject 
{ 
	 left: 1062px; 
	 top: 69px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:3;
} 

 #VectorSmartObject_0 
{ 
	 left: 1088px; 
	 top: 69px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:4;
} 

 #VectorSmartObject_1 
{ 
	 left: 1114px; 
	 top: 69px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:5;
} 

 #VectorSmartObject_2 
{ 
	 left: 1140px; 
	 top: 69px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:6;
} 

 #VectorSmartObject_3 
{ 
	 left: 1166px; 
	 top: 69px; 
	 position: absolute; 
	 width: 23px;
	 height: 23px;
	 z-index:7;
} 

 #Box 
{ 
	 left: 25px; 
	 top: 758px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:8;
} 

 #Box_0 
{ 
	 left: 25px; 
	 top: 709px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:9;
} 

 #Box_1 
{ 
	 left: 25px; 
	 top: 660px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:10;
} 

 #Box_2 
{ 
	 left: 25px; 
	 top: 611px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:11;
} 

 #Box_3 
{ 
	 left: 25px; 
	 top: 562px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:12;
} 

 #Box_4 
{ 
	 left: 25px; 
	 top: 513px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:13;
} 

 #Box_5 
{ 
	 left: 25px; 
	 top: 464px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:14;
} 

 #Box_6 
{ 
	 left: 25px; 
	 top: 415px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:15;
} 

 #Box_7 
{ 
	 left: 25px; 
	 top: 366px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:16;
} 

 #Box_8 
{ 
	 left: 25px; 
	 top: 317px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:17;
} 

 #Boxcopy 
{ 
	 left: 25px; 
	 top: 1248px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:18;
} 

 #Boxcopy_0 
{ 
	 left: 25px; 
	 top: 1199px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:19;
} 

 #Boxcopy2 
{ 
	 left: 25px; 
	 top: 1150px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:20;
} 

 #Boxcopy3 
{ 
	 left: 25px; 
	 top: 1101px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:21;
} 

 #Boxcopy4 
{ 
	 left: 25px; 
	 top: 1052px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:22;
} 

 #Boxcopy5 
{ 
	 left: 25px; 
	 top: 1003px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:23;
} 

 #Boxcopy6 
{ 
	 left: 25px; 
	 top: 954px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:24;
} 

 #Boxcopy7 
{ 
	 left: 25px; 
	 top: 905px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:25;
} 

 #Boxcopy2_0 
{ 
	 left: 25px; 
	 top: 856px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:26;
} 

 #Boxcopy3_0 
{ 
	 left: 25px; 
	 top: 807px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:27;
} 

 #Boxcopy4_0 
{ 
	 left: 25px; 
	 top: 1297px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:28;
} 

 #Boxcopy5_0 
{ 
	 left: 25px; 
	 top: 1346px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:29;
} 

 #Boxcopy6_0 
{ 
	 left: 25px; 
	 top: 1395px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:30;
} 

 #Boxcopy7_0 
{ 
	 left: 25px; 
	 top: 1444px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:31;
} 

 #Boxcopy8 
{ 
	 left: 25px; 
	 top: 1493px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:32;
} 

 #Boxcopy9 
{ 
	 left: 25px; 
	 top: 1542px; 
	 position: absolute; 
	 width: 273px;
	 height: 53px;
	 z-index:33;
} 

 #Category1 
{ 
	 left: 55px; 
	 top: 339px; 
	 position: absolute; 
	 width: 89px;
	 height: 10px;
	 z-index:34;
} 

 #Category2 
{ 
	 left: 54px; 
	 top: 388px; 
	 position: absolute; 
	 width: 92px;
	 height: 10px;
	 z-index:35;
} 

 #Category3 
{ 
	 left: 54px; 
	 top: 435px; 
	 position: absolute; 
	 width: 92px;
	 height: 10px;
	 z-index:36;
} 

 #Category4 
{ 
	 left: 53px; 
	 top: 484px; 
	 position: absolute; 
	 width: 92px;
	 height: 10px;
	 z-index:37;
} 

 #Category5 
{ 
	 left: 55px; 
	 top: 535px; 
	 position: absolute; 
	 width: 92px;
	 height: 10px;
	 z-index:38;
} 

 #Category6 
{ 
	 left: 54px; 
	 top: 584px; 
	 position: absolute; 
	 width: 92px;
	 height: 10px;
	 z-index:39;
} 

 #Category7 
{ 
	 left: 54px; 
	 top: 631px; 
	 position: absolute; 
	 width: 92px;
	 height: 10px;
	 z-index:40;
} 

 #Category8 
{ 
	 left: 53px; 
	 top: 680px; 
	 position: absolute; 
	 width: 92px;
	 height: 10px;
	 z-index:41;
} 

 #Category9 
{ 
	 left: 53px; 
	 top: 733px; 
	 position: absolute; 
	 width: 91px;
	 height: 10px;
	 z-index:42;
} 

 #Category10 
{ 
	 left: 52px; 
	 top: 782px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:43;
} 

 #Category11 
{ 
	 left: 52px; 
	 top: 829px; 
	 position: absolute; 
	 width: 97px;
	 height: 10px;
	 z-index:44;
} 

 #Category12 
{ 
	 left: 51px; 
	 top: 878px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:45;
} 

 #Category13 
{ 
	 left: 51px; 
	 top: 929px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:46;
} 

 #Category14 
{ 
	 left: 50px; 
	 top: 978px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:47;
} 

 #Category15 
{ 
	 left: 50px; 
	 top: 1025px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:48;
} 

 #Category16 
{ 
	 left: 49px; 
	 top: 1074px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:49;
} 

 #Category17 
{ 
	 left: 53px; 
	 top: 1123px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:50;
} 

 #Category18 
{ 
	 left: 52px; 
	 top: 1172px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:51;
} 

 #Category19 
{ 
	 left: 52px; 
	 top: 1219px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:52;
} 

 #Category20 
{ 
	 left: 51px; 
	 top: 1268px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:53;
} 

 #Category21 
{ 
	 left: 51px; 
	 top: 1318px; 
	 position: absolute; 
	 width: 97px;
	 height: 10px;
	 z-index:54;
} 

 #Category22 
{ 
	 left: 51px; 
	 top: 1370px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:55;
} 

 #Category23 
{ 
	 left: 52px; 
	 top: 1418px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:56;
} 

 #Category24 
{ 
	 left: 53px; 
	 top: 1466px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:57;
} 

 #Category25 
{ 
	 left: 53px; 
	 top: 1516px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:58;
} 

 #Category26 
{ 
	 left: 52px; 
	 top: 1564px; 
	 position: absolute; 
	 width: 100px;
	 height: 10px;
	 z-index:59;
} 

 #Bg 
{ 
	 left: 25px; 
	 top: 264px; 
	 position: absolute; 
	 width: 273px;
	 height: 57px;
	 z-index:60;
} 

 #Categorys 
{ 
	 left: 46px; 
	 top: 288px; 
	 position: absolute; 
	 width: 86px;
	 height: 10px;
	 z-index:61;
} 

 #layer_62 
{ 
	 left: 265px; 
	 top: 287px; 
	 position: absolute; 
	 width: 14px;
	 height: 11px;
	 z-index:62;
} 

 #ecommerce 
{ 
	 left: 335px; 
	 top: 268px; 
	 position: absolute; 
	 width: 903px;
	 height: 348px;
	 z-index:63;
} 

 #Rectangle2 
{ 
	 left: 334px; 
	 top: 267px; 
	 position: absolute; 
	 width: 905px;
	 height: 350px;
	 z-index:64;
} 

 #Layer3 
{ 
	 left: 332px; 
	 top: 401px; 
	 position: absolute; 
	 width: 54px;
	 height: 83px;
	 z-index:65;
} 

 #Layer3copy 
{ 
	 left: 1180px; 
	 top: 401px; 
	 position: absolute; 
	 width: 54px;
	 height: 83px;
	 z-index:66;
} 

 #Bg_0 
{ 
	 left: 383px; 
	 top: 113px; 
	 position: absolute; 
	 width: 596px;
	 height: 49px;
	 z-index:67;
} 

 #Search 
{ 
	 left: 399px; 
	 top: 133px; 
	 position: absolute; 
	 width: 53px;
	 height: 10px;
	 z-index:68;
} 

 #Line 
{ 
	 left: 792px; 
	 top: 113px; 
	 position: absolute; 
	 width: 4px;
	 height: 49px;
	 z-index:69;
} 

 #AllCategories 
{ 
	 left: 809px; 
	 top: 132px; 
	 position: absolute; 
	 width: 81px;
	 height: 13px;
	 z-index:70;
} 

 #layer_71 
{ 
	 left: 912px; 
	 top: 135px; 
	 position: absolute; 
	 width: 9px;
	 height: 6px;
	 z-index:71;
} 

 #Bg_1 
{ 
	 left: 931px; 
	 top: 113px; 
	 position: absolute; 
	 width: 49px;
	 height: 49px;
	 z-index:72;
} 

 #layer_73 
{ 
	 left: 952px; 
	 top: 132px; 
	 position: absolute; 
	 width: 13px;
	 height: 13px;
	 z-index:73;
} 

 #Rectangle3 
{ 
	 left: -18px; 
	 top: 6px; 
	 position: absolute; 
	 width: 1300px;
	 height: 48px;
	 z-index:74;
} 

 #VectorSmartObjectcop 
{ 
	 left: 805px; 
	 top: 11px; 
	 position: absolute; 
	 width: 141px;
	 height: 37px;
	 z-index:75;
} 

 #layer_76 
{ 
	 left: 921px; 
	 top: 27px; 
	 position: absolute; 
	 width: 19px;
	 height: 11px;
	 z-index:76;
} 

 #English 
{ 
	 left: 814px; 
	 top: 23px; 
	 position: absolute; 
	 width: 98px;
	 height: 17px;
	 z-index:77;
} 

 #VectorSmartObjectcop_0 
{ 
	 left: 950px; 
	 top: 11px; 
	 position: absolute; 
	 width: 141px;
	 height: 37px;
	 z-index:78;
} 

 #Login 
{ 
	 left: 974px; 
	 top: 21px; 
	 position: absolute; 
	 width: 65px;
	 height: 21px;
	 z-index:79;
} 

 #VectorSmartObject_4 
{ 
	 left: 1046px; 
	 top: 17px; 
	 position: absolute; 
	 width: 22px;
	 height: 24px;
	 z-index:80;
} 

 #VectorSmartObjectcop_1 
{ 
	 left: 1095px; 
	 top: 11px; 
	 position: absolute; 
	 width: 141px;
	 height: 37px;
	 z-index:81;
} 

 #Register 
{ 
	 left: 1110px; 
	 top: 20px; 
	 position: absolute; 
	 width: 85px;
	 height: 21px;
	 z-index:82;
} 

 #VectorSmartObject_5 
{ 
	 left: 1200px; 
	 top: 19px; 
	 position: absolute; 
	 width: 26px;
	 height: 21px;
	 z-index:83;
} 

 #VectorSmartObject_6 
{ 
	 left: 985px; 
	 top: 114px; 
	 position: absolute; 
	 width: 70px;
	 height: 47px;
	 z-index:84;
} 

 #Filter 
{ 
	 left: 1004px; 
	 top: 132px; 
	 position: absolute; 
	 width: 37px;
	 height: 10px;
	 z-index:85;
} 

 #Bg_2 
{ 
	 left: 737px; 
	 top: 424px; 
	 position: absolute; 
	 width: 97px;
	 height: 37px;
	 z-index:86;
} 

 #ShopNow 
{ 
	 left: 754px; 
	 top: 439px; 
	 position: absolute; 
	 width: 64px;
	 height: 9px;
	 z-index:87;
} 

 #Rectangle1 
{ 
	 left: -3px; 
	 top: 202px; 
	 position: absolute; 
	 width: 1284px;
	 height: 38px;
	 z-index:88;
} 

 #Rectangle1copy 
{ 
	 left: -3px; 
	 top: 195px; 
	 position: absolute; 
	 width: 1284px;
	 height: 10px;
	 z-index:89;
} 

 #Home 
{ 
	 left: 51px; 
	 top: 214px; 
	 position: absolute; 
	 width: 48px;
	 height: 12px;
	 z-index:90;
} 

 #Supplier 
{ 
	 left: 156px; 
	 top: 213px; 
	 position: absolute; 
	 width: 65px;
	 height: 16px;
	 z-index:91;
} 

 #Factory 
{ 
	 left: 267px; 
	 top: 211px; 
	 position: absolute; 
	 width: 61px;
	 height: 16px;
	 z-index:92;
} 

 #Buyer 
{ 
	 left: 385px; 
	 top: 213px; 
	 position: absolute; 
	 width: 45px;
	 height: 15px;
	 z-index:93;
} 

 #BuyingLeads 
{ 
	 left: 478px; 
	 top: 212px; 
	 position: absolute; 
	 width: 105px;
	 height: 16px;
	 z-index:94;
} 

 #ADPostingGuide 
{ 
	 left: 612px; 
	 top: 212px; 
	 position: absolute; 
	 width: 142px;
	 height: 16px;
	 z-index:95;
} 

 #Services 
{ 
	 left: 782px; 
	 top: 211px; 
	 position: absolute; 
	 width: 66px;
	 height: 13px;
	 z-index:96;
} 

 #SellyourProducts 
{ 
	 left: 938px; 
	 top: 212px; 
	 position: absolute; 
	 width: 144px;
	 height: 16px;
	 z-index:97;
} 

 #PostBuyingLeads 
{ 
	 left: 1109px; 
	 top: 212px; 
	 position: absolute; 
	 width: 146px;
	 height: 16px;
	 z-index:98;
} 

 #Rectangle4 
{ 
	 left: 329px; 
	 top: 635px; 
	 position: absolute; 
	 width: 913px;
	 height: 322px;
	 z-index:99;
} 

 #Rectangle5 
{ 
	 left: 330px; 
	 top: 680px; 
	 position: absolute; 
	 width: 912px;
	 height: 8px;
	 z-index:100;
} 

 #PostyourRequirements 
{ 
	 left: 379px; 
	 top: 652px; 
	 position: absolute; 
	 width: 193px;
	 height: 16px;
	 z-index:101;
} 

 #LatestBuyingLeads 
{ 
	 left: 706px; 
	 top: 653px; 
	 position: absolute; 
	 width: 162px;
	 height: 16px;
	 z-index:102;
} 

 #AllbuyingLeads 
{ 
	 left: 1028px; 
	 top: 653px; 
	 position: absolute; 
	 width: 136px;
	 height: 16px;
	 z-index:103;
} 

 #Rectangle6copy6 
{ 
	 left: 1045px; 
	 top: 994px; 
	 position: absolute; 
	 width: 212px;
	 height: 193px;
	 z-index:104;
} 

 #Rectangle6copy6_0 
{ 
	 left: 1045px; 
	 top: 1180px; 
	 position: absolute; 
	 width: 212px;
	 height: 192px;
	 z-index:105;
} 

 #Rectangle6copy6_1 
{ 
	 left: 1045px; 
	 top: 1364px; 
	 position: absolute; 
	 width: 212px;
	 height: 193px;
	 z-index:106;
} 

 #Rectangle6copy6_2 
{ 
	 left: 1045px; 
	 top: 1549px; 
	 position: absolute; 
	 width: 212px;
	 height: 193px;
	 z-index:107;
} 

 #Rectangle6copy6_3 
{ 
	 left: 1045px; 
	 top: 1734px; 
	 position: absolute; 
	 width: 212px;
	 height: 192px;
	 z-index:108;
} 

 #FeaturedADScrolling 
{ 
	 left: 1059px; 
	 top: 971px; 
	 position: absolute; 
	 width: 184px;
	 height: 16px;
	 z-index:109;
} 

 #Rectangle6copy6_4 
{ 
	 left: 1045px; 
	 top: 1735px; 
	 position: absolute; 
	 width: 212px;
	 height: 43px;
	 z-index:110;
} 

 #Rectangle6copy8 
{ 
	 left: 1045px; 
	 top: 1551px; 
	 position: absolute; 
	 width: 212px;
	 height: 43px;
	 z-index:111;
} 

 #Rectangle6copy7 
{ 
	 left: 1045px; 
	 top: 962px; 
	 position: absolute; 
	 width: 212px;
	 height: 36px;
	 z-index:112;
} 

 #topSeller 
{ 
	 left: 1113px; 
	 top: 1569px; 
	 position: absolute; 
	 width: 70px;
	 height: 9px;
	 z-index:113;
} 

 #TopBuyer 
{ 
	 left: 1115px; 
	 top: 1750px; 
	 position: absolute; 
	 width: 67px;
	 height: 9px;
	 z-index:114;
} 

 #AllpostsNewestontop 
{ 
	 left: 316px; 
	 top: 969px; 
	 position: absolute; 
	 width: 198px;
	 height: 16px;
	 z-index:115;
} 

 #Rectangle4copy 
{ 
	 left: 313px; 
	 top: 995px; 
	 position: absolute; 
	 width: 727px;
	 height: 1116px;
	 z-index:116;
} 

 #Rectangle6 
{ 
	 left: 313px; 
	 top: 995px; 
	 position: absolute; 
	 width: 170px;
	 height: 192px;
	 z-index:117;
} 

 #Rectangle10 
{ 
	 left: 316px; 
	 top: 994px; 
	 position: absolute; 
	 width: 724px;
	 height: 188px;
	 z-index:118;
} 

 #Rectangle10copy 
{ 
	 left: 316px; 
	 top: 1179px; 
	 position: absolute; 
	 width: 724px;
	 height: 188px;
	 z-index:119;
} 

 #Rectangle10copy2 
{ 
	 left: 315px; 
	 top: 1364px; 
	 position: absolute; 
	 width: 724px;
	 height: 188px;
	 z-index:120;
} 

 #Rectangle10copy3 
{ 
	 left: 315px; 
	 top: 1549px; 
	 position: absolute; 
	 width: 724px;
	 height: 188px;
	 z-index:121;
} 

 #Rectangle10copy4 
{ 
	 left: 315px; 
	 top: 1734px; 
	 position: absolute; 
	 width: 724px;
	 height: 188px;
	 z-index:122;
} 

 #Rectangle6copy 
{ 
	 left: 313px; 
	 top: 1180px; 
	 position: absolute; 
	 width: 170px;
	 height: 192px;
	 z-index:123;
} 

 #Rectangle6copy2 
{ 
	 left: 313px; 
	 top: 1364px; 
	 position: absolute; 
	 width: 170px;
	 height: 193px;
	 z-index:124;
} 

 #Rectangle6copy3 
{ 
	 left: 313px; 
	 top: 1549px; 
	 position: absolute; 
	 width: 170px;
	 height: 193px;
	 z-index:125;
} 

 #Rectangle6copy4 
{ 
	 left: 313px; 
	 top: 1734px; 
	 position: absolute; 
	 width: 170px;
	 height: 192px;
	 z-index:126;
} 

 #Rectangle6copy5 
{ 
	 left: 313px; 
	 top: 1919px; 
	 position: absolute; 
	 width: 170px;
	 height: 192px;
	 z-index:127;
} 

 #Rectangle7 
{ 
	 left: 314px; 
	 top: 995px; 
	 position: absolute; 
	 width: 167px;
	 height: 29px;
	 z-index:128;
} 

 #Rectangle7copy 
{ 
	 left: 314px; 
	 top: 1181px; 
	 position: absolute; 
	 width: 167px;
	 height: 29px;
	 z-index:129;
} 

 #Rectangle7copy2 
{ 
	 left: 315px; 
	 top: 1367px; 
	 position: absolute; 
	 width: 167px;
	 height: 29px;
	 z-index:130;
} 

 #Rectangle7copy3 
{ 
	 left: 315px; 
	 top: 1552px; 
	 position: absolute; 
	 width: 167px;
	 height: 29px;
	 z-index:131;
} 

 #Rectangle7copy4 
{ 
	 left: 315px; 
	 top: 1736px; 
	 position: absolute; 
	 width: 167px;
	 height: 29px;
	 z-index:132;
} 

 #Rectangle7copy5 
{ 
	 left: 315px; 
	 top: 1920px; 
	 position: absolute; 
	 width: 167px;
	 height: 29px;
	 z-index:133;
} 

 #ProductCodeBGD00359 
{ 
	 left: 324px; 
	 top: 1006px; 
	 position: absolute; 
	 width: 149px;
	 height: 9px;
	 z-index:134;
} 

 #ProductCodeBGD00359c 
{ 
	 left: 324px; 
	 top: 1191px; 
	 position: absolute; 
	 width: 149px;
	 height: 9px;
	 z-index:135;
} 

 #ProductCodeBGD00359c_0 
{ 
	 left: 324px; 
	 top: 1377px; 
	 position: absolute; 
	 width: 149px;
	 height: 9px;
	 z-index:136;
} 

 #ProductCodeBGD00359c_1 
{ 
	 left: 324px; 
	 top: 1562px; 
	 position: absolute; 
	 width: 149px;
	 height: 9px;
	 z-index:137;
} 

 #ProductCodeBGD00359c_2 
{ 
	 left: 324px; 
	 top: 1747px; 
	 position: absolute; 
	 width: 149px;
	 height: 9px;
	 z-index:138;
} 

 #ProductCodeBGD00359c_3 
{ 
	 left: 323px; 
	 top: 1930px; 
	 position: absolute; 
	 width: 149px;
	 height: 9px;
	 z-index:139;
} 

 #Rectangle8 
{ 
	 left: 488px; 
	 top: 1050px; 
	 position: absolute; 
	 width: 160px;
	 height: 50px;
	 z-index:140;
} 

 #Rectangle9 
{ 
	 left: 488px; 
	 top: 1103px; 
	 position: absolute; 
	 width: 160px;
	 height: 52px;
	 z-index:141;
} 

 #Rectangle8copy 
{ 
	 left: 658px; 
	 top: 1050px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:142;
} 

 #Rectangle9copy 
{ 
	 left: 658px; 
	 top: 1103px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:143;
} 

 #Rectangle8copy2 
{ 
	 left: 741px; 
	 top: 1050px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:144;
} 

 #Rectangle9copy2 
{ 
	 left: 741px; 
	 top: 1103px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:145;
} 

 #Rectangle8copy3 
{ 
	 left: 823px; 
	 top: 1050px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:146;
} 

 #Rectangle9copy3 
{ 
	 left: 823px; 
	 top: 1103px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:147;
} 

 #Rectangle8_0 
{ 
	 left: 488px; 
	 top: 1230px; 
	 position: absolute; 
	 width: 160px;
	 height: 50px;
	 z-index:148;
} 

 #Rectangle9_0 
{ 
	 left: 488px; 
	 top: 1283px; 
	 position: absolute; 
	 width: 160px;
	 height: 52px;
	 z-index:149;
} 

 #Rectangle8copy_0 
{ 
	 left: 658px; 
	 top: 1230px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:150;
} 

 #Rectangle9copy_0 
{ 
	 left: 658px; 
	 top: 1283px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:151;
} 

 #Rectangle8copy2_0 
{ 
	 left: 741px; 
	 top: 1230px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:152;
} 

 #Rectangle9copy2_0 
{ 
	 left: 741px; 
	 top: 1283px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:153;
} 

 #Rectangle8copy3_0 
{ 
	 left: 823px; 
	 top: 1230px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:154;
} 

 #Rectangle9copy3_0 
{ 
	 left: 823px; 
	 top: 1283px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:155;
} 

 #Rectangle8_1 
{ 
	 left: 488px; 
	 top: 1410px; 
	 position: absolute; 
	 width: 160px;
	 height: 50px;
	 z-index:156;
} 

 #Rectangle9_1 
{ 
	 left: 488px; 
	 top: 1463px; 
	 position: absolute; 
	 width: 160px;
	 height: 52px;
	 z-index:157;
} 

 #Rectangle8copy_1 
{ 
	 left: 658px; 
	 top: 1410px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:158;
} 

 #Rectangle9copy_1 
{ 
	 left: 658px; 
	 top: 1463px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:159;
} 

 #Rectangle8copy2_1 
{ 
	 left: 741px; 
	 top: 1410px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:160;
} 

 #Rectangle9copy2_1 
{ 
	 left: 741px; 
	 top: 1463px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:161;
} 

 #Rectangle8copy3_1 
{ 
	 left: 823px; 
	 top: 1410px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:162;
} 

 #Rectangle9copy3_1 
{ 
	 left: 823px; 
	 top: 1463px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:163;
} 

 #Rectangle8_2 
{ 
	 left: 488px; 
	 top: 1598px; 
	 position: absolute; 
	 width: 160px;
	 height: 50px;
	 z-index:164;
} 

 #Rectangle9_2 
{ 
	 left: 488px; 
	 top: 1651px; 
	 position: absolute; 
	 width: 160px;
	 height: 52px;
	 z-index:165;
} 

 #Rectangle8copy_2 
{ 
	 left: 658px; 
	 top: 1598px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:166;
} 

 #Rectangle9copy_2 
{ 
	 left: 658px; 
	 top: 1651px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:167;
} 

 #Rectangle8copy2_2 
{ 
	 left: 741px; 
	 top: 1598px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:168;
} 

 #Rectangle9copy2_2 
{ 
	 left: 741px; 
	 top: 1651px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:169;
} 

 #Rectangle8copy3_2 
{ 
	 left: 823px; 
	 top: 1598px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:170;
} 

 #Rectangle9copy3_2 
{ 
	 left: 823px; 
	 top: 1651px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:171;
} 

 #Rectangle8_3 
{ 
	 left: 488px; 
	 top: 1780px; 
	 position: absolute; 
	 width: 160px;
	 height: 50px;
	 z-index:172;
} 

 #Rectangle9_3 
{ 
	 left: 488px; 
	 top: 1833px; 
	 position: absolute; 
	 width: 160px;
	 height: 52px;
	 z-index:173;
} 

 #Rectangle8copy_3 
{ 
	 left: 658px; 
	 top: 1780px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:174;
} 

 #Rectangle9copy_3 
{ 
	 left: 658px; 
	 top: 1833px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:175;
} 

 #Rectangle8copy2_3 
{ 
	 left: 741px; 
	 top: 1780px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:176;
} 

 #Rectangle9copy2_3 
{ 
	 left: 741px; 
	 top: 1833px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:177;
} 

 #Rectangle8copy3_3 
{ 
	 left: 823px; 
	 top: 1780px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:178;
} 

 #Rectangle9copy3_3 
{ 
	 left: 823px; 
	 top: 1833px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:179;
} 

 #Rectangle8_4 
{ 
	 left: 488px; 
	 top: 1966px; 
	 position: absolute; 
	 width: 160px;
	 height: 50px;
	 z-index:180;
} 

 #Rectangle9_4 
{ 
	 left: 488px; 
	 top: 2019px; 
	 position: absolute; 
	 width: 160px;
	 height: 52px;
	 z-index:181;
} 

 #Rectangle8copy_4 
{ 
	 left: 658px; 
	 top: 1966px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:182;
} 

 #Rectangle9copy_4 
{ 
	 left: 658px; 
	 top: 2019px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:183;
} 

 #Rectangle8copy2_4 
{ 
	 left: 741px; 
	 top: 1966px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:184;
} 

 #Rectangle9copy2_4 
{ 
	 left: 741px; 
	 top: 2019px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:185;
} 

 #Rectangle8copy3_4 
{ 
	 left: 823px; 
	 top: 1966px; 
	 position: absolute; 
	 width: 79px;
	 height: 50px;
	 z-index:186;
} 

 #Rectangle9copy3_4 
{ 
	 left: 823px; 
	 top: 2019px; 
	 position: absolute; 
	 width: 79px;
	 height: 52px;
	 z-index:187;
} 

 #SupplierBDcapcorpora 
{ 
	 left: 506px; 
	 top: 1015px; 
	 position: absolute; 
	 width: 232px;
	 height: 10px;
	 z-index:188;
} 

 #ItemDescriptionTwill 
{ 
	 left: 498px; 
	 top: 1067px; 
	 position: absolute; 
	 width: 142px;
	 height: 16px;
	 z-index:189;
} 

 #Fabric100CottonTwill 
{ 
	 left: 498px; 
	 top: 1125px; 
	 position: absolute; 
	 width: 139px;
	 height: 7px;
	 z-index:190;
} 

 #Quantity50pieces 
{ 
	 left: 669px; 
	 top: 1061px; 
	 position: absolute; 
	 width: 60px;
	 height: 28px;
	 z-index:191;
} 

 #AddtoContainer 
{ 
	 left: 913px; 
	 top: 1070px; 
	 position: absolute; 
	 width: 115px;
	 height: 8px;
	 z-index:192;
} 

 #Saveforlater 
{ 
	 left: 916px; 
	 top: 1098px; 
	 position: absolute; 
	 width: 92px;
	 height: 8px;
	 z-index:193;
} 

 #AddagentService 
{ 
	 left: 912px; 
	 top: 1129px; 
	 position: absolute; 
	 width: 118px;
	 height: 8px;
	 z-index:194;
} 

 #Ellipse1 
{ 
	 left: 904px; 
	 top: 1071px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:195;
} 

 #Ellipse1copy 
{ 
	 left: 904px; 
	 top: 1099px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:196;
} 

 #Ellipse1copy2 
{ 
	 left: 904px; 
	 top: 1130px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:197;
} 

 #Price 
{ 
	 left: 764px; 
	 top: 1060px; 
	 position: absolute; 
	 width: 36px;
	 height: 9px;
	 z-index:198;
} 

 #US076 
{ 
	 left: 752px; 
	 top: 1079px; 
	 position: absolute; 
	 width: 56px;
	 height: 14px;
	 z-index:199;
} 

 #GrossWeight 
{ 
	 left: 831px; 
	 top: 1060px; 
	 position: absolute; 
	 width: 65px;
	 height: 6px;
	 z-index:200;
} 

 #12KGS 
{ 
	 left: 844px; 
	 top: 1079px; 
	 position: absolute; 
	 width: 40px;
	 height: 9px;
	 z-index:201;
} 

 #Volume 
{ 
	 left: 671px; 
	 top: 1110px; 
	 position: absolute; 
	 width: 51px;
	 height: 9px;
	 z-index:202;
} 

 #Value 
{ 
	 left: 763px; 
	 top: 1111px; 
	 position: absolute; 
	 width: 38px;
	 height: 9px;
	 z-index:203;
} 

 #VolumeWeight 
{ 
	 left: 828px; 
	 top: 1112px; 
	 position: absolute; 
	 width: 69px;
	 height: 6px;
	 z-index:204;
} 

 #105KGS 
{ 
	 left: 838px; 
	 top: 1129px; 
	 position: absolute; 
	 width: 52px;
	 height: 9px;
	 z-index:205;
} 

 #US38 
{ 
	 left: 764px; 
	 top: 1130px; 
	 position: absolute; 
	 width: 35px;
	 height: 12px;
	 z-index:206;
} 

 #US076_0 
{ 
	 left: 673px; 
	 top: 1131px; 
	 position: absolute; 
	 width: 46px;
	 height: 12px;
	 z-index:207;
} 

 #SupplierBDcapcorpora_0 
{ 
	 left: 506px; 
	 top: 1196px; 
	 position: absolute; 
	 width: 232px;
	 height: 10px;
	 z-index:208;
} 

 #ItemDescriptionTwill_0 
{ 
	 left: 498px; 
	 top: 1248px; 
	 position: absolute; 
	 width: 142px;
	 height: 16px;
	 z-index:209;
} 

 #Fabric100CottonTwill_0 
{ 
	 left: 498px; 
	 top: 1306px; 
	 position: absolute; 
	 width: 139px;
	 height: 7px;
	 z-index:210;
} 

 #Quantity50pieces_0 
{ 
	 left: 669px; 
	 top: 1242px; 
	 position: absolute; 
	 width: 60px;
	 height: 28px;
	 z-index:211;
} 

 #AddtoContainer_0 
{ 
	 left: 913px; 
	 top: 1251px; 
	 position: absolute; 
	 width: 115px;
	 height: 8px;
	 z-index:212;
} 

 #Saveforlater_0 
{ 
	 left: 916px; 
	 top: 1279px; 
	 position: absolute; 
	 width: 92px;
	 height: 8px;
	 z-index:213;
} 

 #AddagentService_0 
{ 
	 left: 912px; 
	 top: 1310px; 
	 position: absolute; 
	 width: 118px;
	 height: 8px;
	 z-index:214;
} 

 #Ellipse1_0 
{ 
	 left: 904px; 
	 top: 1252px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:215;
} 

 #Ellipse1copy_0 
{ 
	 left: 904px; 
	 top: 1280px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:216;
} 

 #Ellipse1copy2_0 
{ 
	 left: 904px; 
	 top: 1311px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:217;
} 

 #Price_0 
{ 
	 left: 764px; 
	 top: 1241px; 
	 position: absolute; 
	 width: 36px;
	 height: 9px;
	 z-index:218;
} 

 #US076_1 
{ 
	 left: 752px; 
	 top: 1260px; 
	 position: absolute; 
	 width: 56px;
	 height: 14px;
	 z-index:219;
} 

 #GrossWeight_0 
{ 
	 left: 831px; 
	 top: 1241px; 
	 position: absolute; 
	 width: 65px;
	 height: 6px;
	 z-index:220;
} 

 #12KGS_0 
{ 
	 left: 844px; 
	 top: 1260px; 
	 position: absolute; 
	 width: 40px;
	 height: 9px;
	 z-index:221;
} 

 #Volume_0 
{ 
	 left: 671px; 
	 top: 1291px; 
	 position: absolute; 
	 width: 51px;
	 height: 9px;
	 z-index:222;
} 

 #Value_0 
{ 
	 left: 763px; 
	 top: 1292px; 
	 position: absolute; 
	 width: 38px;
	 height: 9px;
	 z-index:223;
} 

 #VolumeWeight_0 
{ 
	 left: 828px; 
	 top: 1293px; 
	 position: absolute; 
	 width: 69px;
	 height: 6px;
	 z-index:224;
} 

 #105KGS_0 
{ 
	 left: 838px; 
	 top: 1310px; 
	 position: absolute; 
	 width: 52px;
	 height: 9px;
	 z-index:225;
} 

 #US38_0 
{ 
	 left: 764px; 
	 top: 1311px; 
	 position: absolute; 
	 width: 35px;
	 height: 12px;
	 z-index:226;
} 

 #US076_2 
{ 
	 left: 673px; 
	 top: 1312px; 
	 position: absolute; 
	 width: 46px;
	 height: 12px;
	 z-index:227;
} 

 #SupplierBDcapcorpora_1 
{ 
	 left: 506px; 
	 top: 1373px; 
	 position: absolute; 
	 width: 232px;
	 height: 10px;
	 z-index:228;
} 

 #ItemDescriptionTwill_1 
{ 
	 left: 498px; 
	 top: 1425px; 
	 position: absolute; 
	 width: 142px;
	 height: 16px;
	 z-index:229;
} 

 #Fabric100CottonTwill_1 
{ 
	 left: 498px; 
	 top: 1483px; 
	 position: absolute; 
	 width: 139px;
	 height: 7px;
	 z-index:230;
} 

 #Quantity50pieces_1 
{ 
	 left: 669px; 
	 top: 1419px; 
	 position: absolute; 
	 width: 60px;
	 height: 28px;
	 z-index:231;
} 

 #AddtoContainer_1 
{ 
	 left: 913px; 
	 top: 1428px; 
	 position: absolute; 
	 width: 115px;
	 height: 8px;
	 z-index:232;
} 

 #Saveforlater_1 
{ 
	 left: 916px; 
	 top: 1456px; 
	 position: absolute; 
	 width: 92px;
	 height: 8px;
	 z-index:233;
} 

 #AddagentService_1 
{ 
	 left: 912px; 
	 top: 1487px; 
	 position: absolute; 
	 width: 118px;
	 height: 8px;
	 z-index:234;
} 

 #Ellipse1_1 
{ 
	 left: 904px; 
	 top: 1429px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:235;
} 

 #Ellipse1copy_1 
{ 
	 left: 904px; 
	 top: 1457px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:236;
} 

 #Ellipse1copy2_1 
{ 
	 left: 904px; 
	 top: 1488px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:237;
} 

 #Price_1 
{ 
	 left: 764px; 
	 top: 1418px; 
	 position: absolute; 
	 width: 36px;
	 height: 9px;
	 z-index:238;
} 

 #US076_3 
{ 
	 left: 752px; 
	 top: 1437px; 
	 position: absolute; 
	 width: 56px;
	 height: 14px;
	 z-index:239;
} 

 #GrossWeight_1 
{ 
	 left: 831px; 
	 top: 1418px; 
	 position: absolute; 
	 width: 65px;
	 height: 6px;
	 z-index:240;
} 

 #12KGS_1 
{ 
	 left: 844px; 
	 top: 1437px; 
	 position: absolute; 
	 width: 40px;
	 height: 9px;
	 z-index:241;
} 

 #Volume_1 
{ 
	 left: 671px; 
	 top: 1468px; 
	 position: absolute; 
	 width: 51px;
	 height: 9px;
	 z-index:242;
} 

 #Value_1 
{ 
	 left: 763px; 
	 top: 1469px; 
	 position: absolute; 
	 width: 38px;
	 height: 9px;
	 z-index:243;
} 

 #VolumeWeight_1 
{ 
	 left: 828px; 
	 top: 1470px; 
	 position: absolute; 
	 width: 69px;
	 height: 6px;
	 z-index:244;
} 

 #105KGS_1 
{ 
	 left: 838px; 
	 top: 1487px; 
	 position: absolute; 
	 width: 52px;
	 height: 9px;
	 z-index:245;
} 

 #US38_1 
{ 
	 left: 764px; 
	 top: 1488px; 
	 position: absolute; 
	 width: 35px;
	 height: 12px;
	 z-index:246;
} 

 #US076_4 
{ 
	 left: 673px; 
	 top: 1489px; 
	 position: absolute; 
	 width: 46px;
	 height: 12px;
	 z-index:247;
} 

 #SupplierBDcapcorpora_2 
{ 
	 left: 506px; 
	 top: 1562px; 
	 position: absolute; 
	 width: 232px;
	 height: 10px;
	 z-index:248;
} 

 #ItemDescriptionTwill_2 
{ 
	 left: 498px; 
	 top: 1614px; 
	 position: absolute; 
	 width: 142px;
	 height: 16px;
	 z-index:249;
} 

 #Fabric100CottonTwill_2 
{ 
	 left: 498px; 
	 top: 1672px; 
	 position: absolute; 
	 width: 139px;
	 height: 7px;
	 z-index:250;
} 

 #Quantity50pieces_2 
{ 
	 left: 669px; 
	 top: 1608px; 
	 position: absolute; 
	 width: 60px;
	 height: 28px;
	 z-index:251;
} 

 #AddtoContainer_2 
{ 
	 left: 913px; 
	 top: 1617px; 
	 position: absolute; 
	 width: 115px;
	 height: 8px;
	 z-index:252;
} 

 #Saveforlater_2 
{ 
	 left: 916px; 
	 top: 1645px; 
	 position: absolute; 
	 width: 92px;
	 height: 8px;
	 z-index:253;
} 

 #AddagentService_2 
{ 
	 left: 912px; 
	 top: 1676px; 
	 position: absolute; 
	 width: 118px;
	 height: 8px;
	 z-index:254;
} 

 #Ellipse1_2 
{ 
	 left: 904px; 
	 top: 1618px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:255;
} 

 #Ellipse1copy_2 
{ 
	 left: 904px; 
	 top: 1646px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:256;
} 

 #Ellipse1copy2_2 
{ 
	 left: 904px; 
	 top: 1677px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:257;
} 

 #Price_2 
{ 
	 left: 764px; 
	 top: 1607px; 
	 position: absolute; 
	 width: 36px;
	 height: 9px;
	 z-index:258;
} 

 #US076_5 
{ 
	 left: 752px; 
	 top: 1626px; 
	 position: absolute; 
	 width: 56px;
	 height: 14px;
	 z-index:259;
} 

 #GrossWeight_2 
{ 
	 left: 831px; 
	 top: 1607px; 
	 position: absolute; 
	 width: 65px;
	 height: 6px;
	 z-index:260;
} 

 #12KGS_2 
{ 
	 left: 844px; 
	 top: 1626px; 
	 position: absolute; 
	 width: 40px;
	 height: 9px;
	 z-index:261;
} 

 #Volume_2 
{ 
	 left: 671px; 
	 top: 1657px; 
	 position: absolute; 
	 width: 51px;
	 height: 9px;
	 z-index:262;
} 

 #Value_2 
{ 
	 left: 763px; 
	 top: 1658px; 
	 position: absolute; 
	 width: 38px;
	 height: 9px;
	 z-index:263;
} 

 #VolumeWeight_2 
{ 
	 left: 828px; 
	 top: 1659px; 
	 position: absolute; 
	 width: 69px;
	 height: 6px;
	 z-index:264;
} 

 #105KGS_2 
{ 
	 left: 838px; 
	 top: 1676px; 
	 position: absolute; 
	 width: 52px;
	 height: 9px;
	 z-index:265;
} 

 #US38_2 
{ 
	 left: 764px; 
	 top: 1677px; 
	 position: absolute; 
	 width: 35px;
	 height: 12px;
	 z-index:266;
} 

 #US076_6 
{ 
	 left: 673px; 
	 top: 1678px; 
	 position: absolute; 
	 width: 46px;
	 height: 12px;
	 z-index:267;
} 

 #SupplierBDcapcorpora_3 
{ 
	 left: 506px; 
	 top: 1744px; 
	 position: absolute; 
	 width: 232px;
	 height: 10px;
	 z-index:268;
} 

 #ItemDescriptionTwill_3 
{ 
	 left: 498px; 
	 top: 1796px; 
	 position: absolute; 
	 width: 142px;
	 height: 16px;
	 z-index:269;
} 

 #Fabric100CottonTwill_3 
{ 
	 left: 498px; 
	 top: 1854px; 
	 position: absolute; 
	 width: 139px;
	 height: 7px;
	 z-index:270;
} 

 #Quantity50pieces_3 
{ 
	 left: 669px; 
	 top: 1790px; 
	 position: absolute; 
	 width: 60px;
	 height: 28px;
	 z-index:271;
} 

 #AddtoContainer_3 
{ 
	 left: 913px; 
	 top: 1799px; 
	 position: absolute; 
	 width: 115px;
	 height: 8px;
	 z-index:272;
} 

 #Saveforlater_3 
{ 
	 left: 916px; 
	 top: 1827px; 
	 position: absolute; 
	 width: 92px;
	 height: 8px;
	 z-index:273;
} 

 #AddagentService_3 
{ 
	 left: 912px; 
	 top: 1858px; 
	 position: absolute; 
	 width: 118px;
	 height: 8px;
	 z-index:274;
} 

 #Ellipse1_3 
{ 
	 left: 904px; 
	 top: 1800px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:275;
} 

 #Ellipse1copy_3 
{ 
	 left: 904px; 
	 top: 1828px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:276;
} 

 #Ellipse1copy2_3 
{ 
	 left: 904px; 
	 top: 1859px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:277;
} 

 #Price_3 
{ 
	 left: 764px; 
	 top: 1789px; 
	 position: absolute; 
	 width: 36px;
	 height: 9px;
	 z-index:278;
} 

 #US076_7 
{ 
	 left: 752px; 
	 top: 1808px; 
	 position: absolute; 
	 width: 56px;
	 height: 14px;
	 z-index:279;
} 

 #GrossWeight_3 
{ 
	 left: 831px; 
	 top: 1789px; 
	 position: absolute; 
	 width: 65px;
	 height: 6px;
	 z-index:280;
} 

 #12KGS_3 
{ 
	 left: 844px; 
	 top: 1808px; 
	 position: absolute; 
	 width: 40px;
	 height: 9px;
	 z-index:281;
} 

 #Volume_3 
{ 
	 left: 671px; 
	 top: 1839px; 
	 position: absolute; 
	 width: 51px;
	 height: 9px;
	 z-index:282;
} 

 #Value_3 
{ 
	 left: 763px; 
	 top: 1840px; 
	 position: absolute; 
	 width: 38px;
	 height: 9px;
	 z-index:283;
} 

 #VolumeWeight_3 
{ 
	 left: 828px; 
	 top: 1841px; 
	 position: absolute; 
	 width: 69px;
	 height: 6px;
	 z-index:284;
} 

 #105KGS_3 
{ 
	 left: 838px; 
	 top: 1858px; 
	 position: absolute; 
	 width: 52px;
	 height: 9px;
	 z-index:285;
} 

 #US38_3 
{ 
	 left: 764px; 
	 top: 1859px; 
	 position: absolute; 
	 width: 35px;
	 height: 12px;
	 z-index:286;
} 

 #US076_8 
{ 
	 left: 673px; 
	 top: 1860px; 
	 position: absolute; 
	 width: 46px;
	 height: 12px;
	 z-index:287;
} 

 #SupplierBDcapcorpora_4 
{ 
	 left: 506px; 
	 top: 1930px; 
	 position: absolute; 
	 width: 232px;
	 height: 10px;
	 z-index:288;
} 

 #ItemDescriptionTwill_4 
{ 
	 left: 498px; 
	 top: 1982px; 
	 position: absolute; 
	 width: 142px;
	 height: 16px;
	 z-index:289;
} 

 #Fabric100CottonTwill_4 
{ 
	 left: 498px; 
	 top: 2040px; 
	 position: absolute; 
	 width: 139px;
	 height: 7px;
	 z-index:290;
} 

 #Quantity50pieces_4 
{ 
	 left: 669px; 
	 top: 1976px; 
	 position: absolute; 
	 width: 60px;
	 height: 28px;
	 z-index:291;
} 

 #AddtoContainer_4 
{ 
	 left: 913px; 
	 top: 1985px; 
	 position: absolute; 
	 width: 115px;
	 height: 8px;
	 z-index:292;
} 

 #Saveforlater_4 
{ 
	 left: 916px; 
	 top: 2013px; 
	 position: absolute; 
	 width: 92px;
	 height: 8px;
	 z-index:293;
} 

 #AddagentService_4 
{ 
	 left: 912px; 
	 top: 2044px; 
	 position: absolute; 
	 width: 118px;
	 height: 8px;
	 z-index:294;
} 

 #Ellipse1_4 
{ 
	 left: 904px; 
	 top: 1986px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:295;
} 

 #Ellipse1copy_4 
{ 
	 left: 904px; 
	 top: 2014px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:296;
} 

 #Ellipse1copy2_4 
{ 
	 left: 904px; 
	 top: 2045px; 
	 position: absolute; 
	 width: 8px;
	 height: 7px;
	 z-index:297;
} 

 #Price_4 
{ 
	 left: 764px; 
	 top: 1975px; 
	 position: absolute; 
	 width: 36px;
	 height: 9px;
	 z-index:298;
} 

 #US076_9 
{ 
	 left: 752px; 
	 top: 1994px; 
	 position: absolute; 
	 width: 56px;
	 height: 14px;
	 z-index:299;
} 

 #GrossWeight_4 
{ 
	 left: 831px; 
	 top: 1975px; 
	 position: absolute; 
	 width: 65px;
	 height: 6px;
	 z-index:300;
} 

 #12KGS_4 
{ 
	 left: 844px; 
	 top: 1994px; 
	 position: absolute; 
	 width: 40px;
	 height: 9px;
	 z-index:301;
} 

 #Volume_4 
{ 
	 left: 671px; 
	 top: 2025px; 
	 position: absolute; 
	 width: 51px;
	 height: 9px;
	 z-index:302;
} 

 #Value_4 
{ 
	 left: 763px; 
	 top: 2026px; 
	 position: absolute; 
	 width: 38px;
	 height: 9px;
	 z-index:303;
} 

 #VolumeWeight_4 
{ 
	 left: 828px; 
	 top: 2027px; 
	 position: absolute; 
	 width: 69px;
	 height: 6px;
	 z-index:304;
} 

 #105KGS_4 
{ 
	 left: 838px; 
	 top: 2044px; 
	 position: absolute; 
	 width: 52px;
	 height: 9px;
	 z-index:305;
} 

 #US38_4 
{ 
	 left: 764px; 
	 top: 2045px; 
	 position: absolute; 
	 width: 35px;
	 height: 12px;
	 z-index:306;
} 

 #US076_10 
{ 
	 left: 673px; 
	 top: 2046px; 
	 position: absolute; 
	 width: 46px;
	 height: 12px;
	 z-index:307;
} 

 #Rectangle11 
{ 
	 left: 658px; 
	 top: 1072px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:308;
} 

 #Rectangle11copy 
{ 
	 left: 741px; 
	 top: 1072px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:309;
} 

 #Rectangle11copy2 
{ 
	 left: 824px; 
	 top: 1072px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:310;
} 

 #Rectangle11copy3 
{ 
	 left: 658px; 
	 top: 1122px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:311;
} 

 #Rectangle11copy4 
{ 
	 left: 741px; 
	 top: 1122px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:312;
} 

 #Rectangle11copy5 
{ 
	 left: 824px; 
	 top: 1122px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:313;
} 

 #Rectangle11copy6 
{ 
	 left: 658px; 
	 top: 1250px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:314;
} 

 #Rectangle11copy7 
{ 
	 left: 741px; 
	 top: 1250px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:315;
} 

 #Rectangle11copy8 
{ 
	 left: 824px; 
	 top: 1250px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:316;
} 

 #Rectangle11copy9 
{ 
	 left: 658px; 
	 top: 1303px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:317;
} 

 #Rectangle11copy10 
{ 
	 left: 741px; 
	 top: 1303px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:318;
} 

 #Rectangle11copy11 
{ 
	 left: 824px; 
	 top: 1303px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:319;
} 

 #Rectangle11copy12 
{ 
	 left: 658px; 
	 top: 1429px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:320;
} 

 #Rectangle11copy13 
{ 
	 left: 741px; 
	 top: 1429px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:321;
} 

 #Rectangle11copy14 
{ 
	 left: 824px; 
	 top: 1429px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:322;
} 

 #Rectangle11copy15 
{ 
	 left: 658px; 
	 top: 1484px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:323;
} 

 #Rectangle11copy16 
{ 
	 left: 741px; 
	 top: 1484px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:324;
} 

 #Rectangle11copy17 
{ 
	 left: 824px; 
	 top: 1484px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:325;
} 

 #Rectangle11copy18 
{ 
	 left: 658px; 
	 top: 1618px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:326;
} 

 #Rectangle11copy19 
{ 
	 left: 741px; 
	 top: 1618px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:327;
} 

 #Rectangle11copy20 
{ 
	 left: 824px; 
	 top: 1618px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:328;
} 

 #Rectangle11copy21 
{ 
	 left: 658px; 
	 top: 1672px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:329;
} 

 #Rectangle11copy22 
{ 
	 left: 741px; 
	 top: 1672px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:330;
} 

 #Rectangle11copy23 
{ 
	 left: 824px; 
	 top: 1672px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:331;
} 

 #Rectangle11copy24 
{ 
	 left: 658px; 
	 top: 1800px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:332;
} 

 #Rectangle11copy25 
{ 
	 left: 741px; 
	 top: 1800px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:333;
} 

 #Rectangle11copy26 
{ 
	 left: 824px; 
	 top: 1800px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:334;
} 

 #Rectangle11copy27 
{ 
	 left: 658px; 
	 top: 1854px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:335;
} 

 #Rectangle11copy28 
{ 
	 left: 741px; 
	 top: 1854px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:336;
} 

 #Rectangle11copy29 
{ 
	 left: 824px; 
	 top: 1854px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:337;
} 

 #Rectangle11copy30 
{ 
	 left: 658px; 
	 top: 1987px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:338;
} 

 #Rectangle11copy31 
{ 
	 left: 741px; 
	 top: 1987px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:339;
} 

 #Rectangle11copy32 
{ 
	 left: 824px; 
	 top: 1987px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:340;
} 

 #Rectangle11copy33 
{ 
	 left: 658px; 
	 top: 2043px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:341;
} 

 #Rectangle11copy34 
{ 
	 left: 741px; 
	 top: 2043px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:342;
} 

 #Rectangle11copy35 
{ 
	 left: 824px; 
	 top: 2043px; 
	 position: absolute; 
	 width: 78px;
	 height: 3px;
	 z-index:343;
} 

 #Rectangle12 
{ 
	 left: 26px; 
	 top: 1643px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:344;
} 

 #Rectangle12copy 
{ 
	 left: 26px; 
	 top: 1677px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:345;
} 

 #Rectangle12copy2 
{ 
	 left: 26px; 
	 top: 1711px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:346;
} 

 #Rectangle12copy3 
{ 
	 left: 26px; 
	 top: 1745px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:347;
} 

 #Rectangle12copy4 
{ 
	 left: 26px; 
	 top: 1854px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:348;
} 

 #Rectangle12copy5 
{ 
	 left: 26px; 
	 top: 1888px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:349;
} 

 #Rectangle12copy6 
{ 
	 left: 26px; 
	 top: 1922px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:350;
} 

 #Rectangle12copy7 
{ 
	 left: 26px; 
	 top: 1956px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:351;
} 

 #Rectangle12copy8 
{ 
	 left: 26px; 
	 top: 2048px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:352;
} 

 #Rectangle12copy9 
{ 
	 left: 26px; 
	 top: 2082px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:353;
} 

 #Rectangle12copy10 
{ 
	 left: 26px; 
	 top: 2116px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:354;
} 

 #Rectangle12copy11 
{ 
	 left: 26px; 
	 top: 2150px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:355;
} 

 #Rectangle12copy12 
{ 
	 left: 26px; 
	 top: 2259px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:356;
} 

 #Rectangle12copy13 
{ 
	 left: 26px; 
	 top: 2293px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:357;
} 

 #Rectangle12copy14 
{ 
	 left: 26px; 
	 top: 2327px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:358;
} 

 #Rectangle12copy15 
{ 
	 left: 26px; 
	 top: 2361px; 
	 position: absolute; 
	 width: 273px;
	 height: 38px;
	 z-index:359;
} 

 #Rectangle13 
{ 
	 left: 25px; 
	 top: 2441px; 
	 position: absolute; 
	 width: 274px;
	 height: 278px;
	 z-index:360;
} 

 #FixedDateTable 
{ 
	 left: 29px; 
	 top: 1621px; 
	 position: absolute; 
	 width: 145px;
	 height: 12px;
	 z-index:361;
} 

 #Widget1VolumeCalcula 
{ 
	 left: 27px; 
	 top: 1832px; 
	 position: absolute; 
	 width: 278px;
	 height: 12px;
	 z-index:362;
} 

 #layer_3091350 
{ 
	 left: 333px; 
	 top: 1032px; 
	 position: absolute; 
	 width: 128px;
	 height: 128px;
	 z-index:363;
} 

 #adyha03647dackspbyk0 
{ 
	 left: 335px; 
	 top: 1222px; 
	 position: absolute; 
	 width: 124px;
	 height: 130px;
	 z-index:364;
} 

 #ANZPENNCAP 
{ 
	 left: 333px; 
	 top: 1409px; 
	 position: absolute; 
	 width: 128px;
	 height: 128px;
	 z-index:365;
} 

 #BAS074NavyCrewAlarge 
{ 
	 left: 327px; 
	 top: 1588px; 
	 position: absolute; 
	 width: 137px;
	 height: 137px;
	 z-index:366;
} 

 #Layer5 
{ 
	 left: 36px; 
	 top: 2454px; 
	 position: absolute; 
	 width: 253px;
	 height: 253px;
	 z-index:367;
} 

 #mennewcapredredblk 
{ 
	 left: 336px; 
	 top: 1796px; 
	 position: absolute; 
	 width: 121px;
	 height: 112px;
	 z-index:368;
} 

 #thumb 
{ 
	 left: 329px; 
	 top: 1951px; 
	 position: absolute; 
	 width: 140px;
	 height: 140px;
	 z-index:369;
} 

 #Widget2Volumetricwei 
{ 
	 left: 29px; 
	 top: 2006px; 
	 position: absolute; 
	 width: 265px;
	 height: 30px;
	 z-index:370;
} 

 #WiDget3DropDownData 
{ 
	 left: 26px; 
	 top: 2222px; 
	 position: absolute; 
	 width: 248px;
	 height: 12px;
	 z-index:371;
} 

 #VectorSmartObject_7 
{ 
	 left: 991px; 
	 top: 2213px; 
	 position: absolute; 
	 width: 194px;
	 height: 99px;
	 z-index:372;
} 

 #TERMSANDCONDITION 
{ 
	 left: 1035px; 
	 top: 2229px; 
	 position: absolute; 
	 width: 136px;
	 height: 8px;
	 z-index:373;
} 

 #ContactUs 
{ 
	 left: 1058px; 
	 top: 2287px; 
	 position: absolute; 
	 width: 84px;
	 height: 9px;
	 z-index:374;
} 

 #layer_375 
{ 
	 left: 317px; 
	 top: 2121px; 
	 position: absolute; 
	 width: 77px;
	 height: 9px;
	 z-index:375;
} 

 #Next 
{ 
	 left: 990px; 
	 top: 2119px; 
	 position: absolute; 
	 width: 45px;
	 height: 9px;
	 z-index:376;
} 
